@media only screen and (max-width: 600px) {
  img {
    width: 100%;
  }
}

/* Mobile and Tablet */
.media-content {
  padding: 0rem 2rem;
}

/* Desktop */
@media (min-width: 900px) {
  .media-content {
    padding: 0rem 5rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #f4f3f0;
  padding: 2rem;
}

.input-container {
  display: flex;
  position: relative;
  width: 100%;
}

.clear-input {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.search-input {
  width: inherit;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid #7d7d7d;
  padding: 0.5rem;
  font-size: 1rem;
}

.media-container {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.media {
  margin: 0.5rem;
  height: 300px;
}
