.single-media-container {
  display: flex;
  flex-direction: column;
}

/* Desktop */
@media (min-width: 1000px) {
  .single-media-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
  }
}

.hero-content {
  grid-column: 1 / span 2;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background: #faf9f8;
}

.title {
  font-size: 1rem;
  font-weight: 700;
}

.title-license {
  font-size: 1.5rem;
  font-weight: 600;
}

.credits {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
  font-weight: 600;
}

.media-detail {
  padding: 1rem;
}

.price {
  font-size: 1rem;
  font-weight: 600;
}

.media-license-container {
  padding: 1rem;
  margin-bottom: 2rem;
  background: #eae7e2;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  border: 0.5px solid #cccccc;
}

.divider {
  border-bottom: 0.5px solid #cccccc;
}

.media-license {
  display: flex;
  flex-direction: row;
}

.table {
  border-spacing: 0 15px;
}
.table > tr > th {
  text-align: left;
  display: flex;
  align-items: flex-start;
  width: 150px;
}
